<div class="login-background">
  <div class="backdrop-logo"></div>

  <div class="ion-padding">
    <h2 class="welcome-title">Bienvenido a GiConnect {{userName}}</h2>
    
    <div class="grid-container">
      <div class="grid-item full-width" *ngIf="isAdminOrMaestro" (click)="navigateTo('/prueba')">
        <div class="icon-placeholder">
          <img src="../../assets/logoCruzRojaCabra.PNG" alt="Logo Cruz Roja Cabra">
        </div>
        <span>Portal del Maestro</span>
      </div>

      <div class="grid-item" (click)="navigateTo('/prueba')">
        <div class="icon-placeholder">
          <ion-icon name="calendar"></ion-icon>
        </div>
        <span>Reservar Clases</span>
      </div>

      <div class="grid-item" (click)="navigateTo('/prueba')">
        <div class="icon-placeholder">
          <ion-icon name="globe"></ion-icon>
        </div>
        <span>Enlaces de Interés</span>
      </div>

      <div class="grid-item" (click)="navigateTo('/prueba')">
        <div class="icon-placeholder">
          <ion-icon name="chatbubble-outline"></ion-icon>
        </div>
        <span>Chat</span>
      </div>

      <div class="grid-item" (click)="navigateTo('/prueba')">
        <div class="icon-placeholder">
          <ion-icon name="cart-outline"></ion-icon>
        </div>
        <span>Tienda</span>
      </div>
    </div>
  </div>
</div>
