ion-content {
  --background: var(--ion-color-light);
}

h1 {
  color: var(--ion-color-primary);
  text-align: center;
  margin-bottom: 1rem;
}

p {
  text-align: center;
  color: var(--ion-color-medium);
  font-size: 1.1rem;
  line-height: 1.5;
} 